<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/getStarted.css">
    <title>Signup</title>
</head>
<body>
    <header class="main-header">
        <p class="main-logo">noteMaker</p>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item"><a href="" class="main-nav__item__link">Make Notes</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__item__link">Todo List</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__item__link">Time-Table</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__item__link">Login</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__item__link">Signup</a></li>
            </ul>
        </nav>
    </header >
    
</body>
</html>