<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>NoteMaker</title>
</head>
<body>
    <header class="main-header">
        <p class="main-logo">noteMaker - Signup</p>
    </header>
    <div class="main-signup-form">
        <% if(errorMessage){ %>
            <div class="main-signup-form__errMsg"><%=errorMessage%></div>
        <% } %>
        <form class="signup-form" action='/signup' method="POST" novalidate>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="<%=oldInput.email%>">
            <label for="confirmPassword">confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" value="<%=oldInput.password%>">
            <div class="signup-form-submit">
                <button type="submit" class="signup-submit">Sign Up</button>
            </div>
        </form>
    </div>
</body>
</html>